.App {
  background-color: #f4f4f4;
}

.popup {
  width: 700px;
  height: 70px;
  background-color: #f7f7f7;
  display: flex;
}

.button {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  font-weight: 500;
  width: 130px;
  height: 24px;
  cursor: pointer;
  color: #222222;
  padding: 7px 11px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  color: #1e6a97;
}

.nav-link.active {
  font-weight: 500;
  color: black;
  border-bottom: 2px solid black;
}
.nav-link-disabled {
  color: grey;
  pointer-events: none;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
